@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');


/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --CYAN: #66E2DC;
  --ORANGE: #FA7453;
  --YELLOW: #FFB964;
  --WHITE: #FCFAF9;
  --BG-WHITE: #FAFAFA;
  --SLATE: #191826;

  /* GRADIENTS */

  /* TYPOGRAPHY */
  --FF: "IBM Plex Sans", serif;

  /* TEXT STYLE */
  /* DESKTOP */
  --TEXT-PRESET-1-DSK: bold 5.5rem/100% var(--FF);
  --TEXT-PRESET-2-DSK: bold 4rem/100% var(--FF);
  --TEXT-PRESET-3-DSK: bold 2.5rem/110% var(--FF);
  --TEXT-PRESET-4-DSK: normal 1.25rem/150% var(--FF);
  --TEXT-PRESET-5-BOLD-DSK: bold 1rem/150% var(--FF);
  --TEXT-PRESET-5-DSK: normal 1rem/150% var(--FF);
  --TEXT-PRESET-6-DSK: bold 1.125rem/180% var(--FF);

  /* TABLET */
  --TEXT-PRESET-1-TAB: bold 4rem/100% var(--FF);
  --TEXT-PRESET-4-TAB: normal 1.125rem/150% var(--FF);

  /* MOBILE */
  --TEXT-PRESET-1-MOB: bold 2.5rem/100% var(--FF);
  --TEXT-PRESET-4-MOB: normal 1rem/150% var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--BG-WHITE);
}

a:any-link {
  text-decoration: none;
}

/* HEADER */
.header {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.header-container {
  max-width: 100%;
  min-height: 504px;
  padding: 4rem 1.25rem;
  margin: 0rem auto;

  
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 4rem;
  position: relative;

}

.bg_mobile {
  position: absolute;
  top: -152px;
  right: -192px;
  width: 384px;
  height: 655px;
}

.header__equalizer {
  width: 335px;
  height: 32px;
}

.header__hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.5rem;
  max-width: 335px;
}

.header__hero-title {
  font: var(--TEXT-PRESET-1-MOB);
  color: var(--SLATE);
  text-align: left;
  letter-spacing: -1px;
}

.header__hero-subtext {
  font: var(--TEXT-PRESET-4-MOB);
  color: var(--SLATE);
}


/* MAIN */
.main {
  max-width: 100%;;
  background-color: var(--BG-WHITE);
}

.main-content {
  background-color: var(--SLATE);
  height: 380px;
  margin: 6.875rem 0rem 39.0625rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  padding: 0rem ;
}

/* MAIN HERO IMAGE */
.main-content__image {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}

.main-content__image img {
  max-width: 208.97px;
}

/* MAIN HERO BACKGROUND IMAGE */
.bg_pattern_two {
  width: 312px;
  height: 468px;
}

.bg_pattern_two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAIN CTA */
.cta {
  background-color: var(--ORANGE);
  width: 100%;
  min-height: 625px;
  padding: 3rem 1.25rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3rem;
  position: absolute;
  top: 380px;
  left: 0px;
}

.cta__text-content {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  max-width: 335px;
}

.cta__text-content-title {
  font: var(--TEXT-PRESET-3-DSK);
  color: var(--SLATE);
  margin-bottom: 1.5rem;
}

.cta__text-content-subtext {
  font: var(--TEXT-PRESET-4-MOB);
  color: var(--SLATE);
  margin-bottom: 2.5rem;
  max-width: 335p
}

.cta__text-content-subscription {
  width: 164px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cta__text-content-subcription-price {
  font: var(--TEXT-PRESET-2-DSK);
  color: var(--SLATE);
}

.cta__text-content-subcription-label {
  font: var(--TEXT-PRESET-4-DSK);
  color: var(--SLATE);
}

/* CTA BUTTON */
.cta__button {
  max-width: 335px;
  height: 144px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.cta__button-download {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 1rem 4.7906rem;
  border-radius: .75rem;
}

.icon-apple,
.icon-android {
  max-width: 17px;
  height: 20px;
}

.icon-apple img,
.icon-android img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta__button-label {
  font: var(--TEXT-PRESET-6-DSK);
}

.ios {
  background-color: var(--SLATE);
  color: var(--WHITE);
}

.android {
  background-color: var(--WHITE);
  color: var(--SLATE);
}

.main-right-bg {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 515px;
  z-index: -1;
}

/* FOOTER */
.footer {
  width: 100%;
  min-height: 357px;
  padding: 4rem 1.25rem 5rem 1.25rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--BG-WHITE);
}

.footer__equalizer {
  width: 335px;
  height: 32px;
  margin-bottom: 2rem;
}

.footer__content {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.footer__text-content{
  display: flex;
  flex-flow: column;
}

.footer__text-content-description {
  font: var(--TEXT-PRESET-5-DSK);
  color: var(--SLATE);
  max-width: 335px;
}

.footer__text-content-address {
  font: var(--TEXT-PRESET-5-BOLD-DSK);
  color: var(--SLATE);
  
}

/* FOOTER LINKS */
.footer__social-links {
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-link {
  display: block;
  width: 20px;
  height: 20px;
}

.footer__social-link figure img {
  max-width: 20px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  /* HEADER */
  body {
    background-image: url("./Image/bg-pattern-1-2.svg");
    background-size: 217px 360px;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .header-container {
    min-height: 628px;
    padding: 4rem 2.5rem;
    
    align-items: start;
    gap: 8rem;

  }

  .header__equalizer {
    width: 680px;
  }

  .header__hero {
    max-width: 680px;
  }

  .header__hero-title {
    font: var(--TEXT-PRESET-1-TAB);
    max-width: 504px;
  }

  .header__hero-subtext {
    font: var(--TEXT-PRESET-4-TAB);
    max-width: 504px;
  }

  .bg_mobile {
    display: none;
  }

  .bg_tablet {
    display: block;
    position: absolute;
    top: -101px;
    left: -192px;
    width: 768px;
    height: 943px;
  }

  /* MAIN */
  .main {
    display: grid;
    place-content: center;
  }

  .main-content {
    width: 680px;
    height: 600px;
    border-radius: .75rem;
    margin: 12.5rem 2.75rem;
    display: flex;
    flex-flow: column;
    align-items: start;
    position: relative;
    padding: 0rem ;
  }

  /* MAIN HERO IMAGE */
  .main-content__image {
    top: -114px;
    left: 26%;
  }

  .main-content__image img {
    max-width: 270.21px;
  }

  /* MAIN CTA */
  .cta {
    width: 356px;
    min-height: auto;
    padding: 3rem;
    border-radius: 1rem;
    position: absolute;
    top: 86px;
    left: 260px;
  }

  .cta__text-content {
    max-width: 260px;
  }

  .cta__text-content-subtext {
    font: var(--TEXT-PRESET-4-TAB);
    max-width: 260px;
  }
   
  /* CTA BUTTON */
  .cta__button-download {
    width: 260px;
    padding: 1rem 2rem;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    min-height: 281px;
    padding: 4rem 2.5rem 5rem 2.5rem;
  }

  .footer__equalizer {
    width: 688px;
    height: 32px;
  }

  .footer__content {
    width: 688px;
    flex-flow: row;
    justify-content: space-between;
  }

  .footer__text-content-description {
    max-width: 564px;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  body {
    background-image: url("./Image/bg-pattern-1.svg");
    background-size: 312px 468px;
  }

  /* HEADER */
  .header-container {
    min-height: 594px;
    padding: 4rem 2.5rem;
  }

  .header__equalizer {
    width: 1120px;
  }

  .header__hero {
    max-width: 1120px;
    align-items: start;

  }

  .header__hero-title {
    font: var(--TEXT-PRESET-1-DSK);
    max-width: 928px;
  }

  .header__hero-subtext {
    font: var(--TEXT-PRESET-4-DSK);
    max-width: 736px;
  }

  .bg_tablet {
    display: none;
  }

  .bg_desktop {
    display: block;
    position: absolute;
    top: -192px;
    left: -51px;
    width: 1608px;
    height: 1779px;
  }

  /* MAIN */

  .main-content {
    width: 1120px;
    margin: 12.5rem auto;
    position: relative;
  }

  .bg_pattern_two {
    position: absolute;
    top: 0px;
    left: 368px;
  }

  /* MAIN HERO IMAGE */
  .main-content__image {
    top: -121px;
    left: 261px;
    z-index: 1;
  }

  .main-content__image img {
    max-width: 309px;
  }

  /* MAIN CTA */
  .cta {
    width: 512px;
    padding: 3.5rem;
    position: absolute;
    top: 89px;
    left: 544px;
  }

  .cta__text-content {
    max-width: 400px;
  }

  .cta__text-content-subtext {
    font: var(--TEXT-PRESET-4-DSK);
    max-width: 400px;
  }
   
  /* CTA BUTTON */
  .cta__button-download {
    width: 400px;
    padding: 1rem 2rem;
  }

  .ios:hover .icon-apple,
  .ios:focus-visible .icon-apple {
    display: none;
  }

  .ios:hover .icon-apple-hvr,
  .ios:focus-visible .icon-apple-hvr {
    display: block;
  }

  .ios:hover ,
  .ios:focus-visible {
    background-color: var(--CYAN);
    color: var(--SLATE);
  }

  .android:hover ,
  .android:focus-visible {
    background-color: var(--YELLOW);
  }

  /* FOOTER */
  .footer {
    width: 100%;
    max-width: 1120px;
    min-height: 281px;
    padding: 4rem 0rem 5rem 0rem;
    flex-flow: row;
    align-items: center;
    margin: 0px auto;
  }

  .footer__equalizer {
    width: 272px;
  }

  .footer__content {
    width: 848px;
  }

  .footer__text-content-description {
    max-width: 561px;
  }

  .footer__social-link:hover .social-link__org,
  .footer__social-link:focus-visible .social-link__org {
    display: none;
  }

  .footer__social-link:hover .social-link__hvr,
  .footer__social-link:focus-visible .social-link__hvr {
    display: block;
  }

  
}